.d-flex button{
    margin: 24px 8px;
    padding: 5px 22px;
}

.d-flex table{
    margin: 16px 160px;
}

table .btnedit{
    color: lightsalmon;
    cursor: pointer;
}

.success{
    background-color: lightgreen;
    padding: 16px;
}

.error{
    background-color: tomato;
    padding: 16px;
}